@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>PROJETO ESCOLAR </h1>
    <p class="lead">Projeto Escolar com CRUD para professor,aluno e notas. </p>
    <p><a href="https://localhost:44327/Administrativo" class="btn btn-primary btn-lg">Ver Mais &raquo;</a></p>
</div>
